<blockquote>
	<p>
        <strong>From here you can download an empty PDF survey for the language you prefer.</strong><br/>
	</p>
</blockquote>

<blockquote><p>
<table border="0">
	<tr>
		<td>
			<img src="img/pdf.png" style="height: 18px; margin-right:10px;"/>
		</td>
		<td>
			<a target="_self" href="file/CGRFA_Questionnaire_EN.pdf" download="CGRFA_Questionnaire_EN.pdf">Download English Version</a><br />
		</td>
	</tr>
	<tr>
		<td>
			<img src="img/pdf.png" style="height: 18px; margin-right:10px;"/>
		</td>
		<td>
			<a target="_self" href="file/CGRFA_Questionnaire_ES.pdf" download="CGRFA_Questionnaire_ES.pdf">Download Spanish Version</a><br />
		</td>
	</tr>
	<tr>
		<td>
			<img src="img/pdf.png" style="height: 18px; margin-right:10px;"/>
		</td>
		<td>
			<a target="_self" href="file/CGRFA_Questionnaire_FR.pdf" download="CGRFA_Questionnaire_FR.pdf">Download French Version</a><br />
		</td>
	</tr>
</table>
</p></blockquote>