<div class="title">{{title}}</title></div>
<div style="width:100%; width: 100%; background-color: #eeeeee;">
  <div style="width:600px; margin:0 auto; padding-top: 45px; background-color: #eeeeee;">
    <md-grid-list md-cols="4" md-gutter="1em" md-row-height="16:9">
      <md-grid-tile class="green"
          md-rowspan="3" md-colspan="2">
          <a href="upload/"><img width="100px" src="img/upload.png"></a>
        <md-grid-tile-footer>
          <h3><a class="homeLink" href="upload/">Upload a new PDF survey</a></h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="blue"
          md-rowspan="4" md-colspan="2">
          <a href="list/"><img width="100px" src="img/list.png"></a>
        <md-grid-tile-footer>
          <h3><a class="homeLink" href="list/">List of inserted Surveys</a></h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="red"
          md-rowspan="3" md-colspan="2">
          <a href="newForm/"><img width="100px" src="img/newForm.png"></a>
        <md-grid-tile-footer>
          <h3><a class="homeLink" href="newForm/">Fill a new Survey</a></h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="gray"
          md-rowspan="2" md-colspan="2">
          <a href="getEmptySurvey/"><img width="70px" src="img/downloadIcon.png"></a>
          <md-grid-tile-footer>
            <h3><a class="homeLink" href="getEmptySurvey/">Download an empty PDF</a></h3>
          </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>

<footer class="cgrfaFooter">
  This website is HTML5&nbsp;<img src="img/html5.png" style="height: 14px;"/> compliant and compatible with <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Google Chrome&nbsp;<img src="img/chrome.png" style="height: 14px;"/></a> and <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox&nbsp;<img src="img/firefox.png" style="height: 14px;"/></a>
</footer>